# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of the commonly used libraries used by data Scientists
* Examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries udes by Data Scientist include: 
1. Numpy
2. Pandas
3. GGplot

|Data Science Tools|
|---------|
|Jupyter Notebook|
|Rstudio|
|Hadoop Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x=10
y=20
x+y

30

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

## Convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author:
F. Kangoud